server:
  port: 8000

spring:
  application.name: splearn
  jpa:
    show-sql: true
    hibernate:
        ddl-auto: update
  docker:
    compose:
      lifecycle-management: start_only

management:
  endpoints:
    web:
      exposure:
        include: health